* {
    scroll-behavior: smooth;
}

nav {
    height: 7px;
    max-width: 100vw;

    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    /* margin-top:40px; */
    position: relative;
    top: 60px;

    background-color: #f6ce776d;
    backdrop-filter: blur(5px);
    border: 1px solid orange;

    box-shadow: 1px 1px 10px black;

}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    color: brown;
}

main {

    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url("image/hand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'myfont';
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.box1 {

    color: azure;
    margin: 250px 0 0 150px;


}

.heading1 {
    padding: 10px;
    background-color: rgba(11, 11, 11, 0.507);
    display: inline-block;
    font-size: 30px;

}

.subheading1 {
    font-size: 20px;
    line-height: 0%;
}

.nav-links {
    display: flex;
    gap: 20px;

}

.nav-links a {
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px 10px black;
    font-weight: bold;
}

.menu {
    min-height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.heading2 {
    font-size: 30px;
    text-align: center;


}

hr.hr1 {
    max-width: 300px;
    border: 2px solid orange;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    padding: 15px;
}


.thumbnail {
    width: 300px;
    box-shadow: 1px 2px 10px #888888;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;

}


.itemrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderBtn,
.fBtn {
    background-color: ORANGE;
    padding: 10px 15px;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 2px 5px chocolate;


}

.orderBtn:hover {
    background-color: chocolate;
    box-shadow: 1px 2px 15px chocolate;

}

.gallery {
    height: 75vh;

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.feedback {
    background-image: url("image/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 75vh;

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.fBox {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 50px;
    color: white;

}

.fheadBox {
    background-color: white;
    width: 100vw;
    text-align: center;



}

footer {
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.last {
    width: 70vw;
    height: 80px;
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.Flogo {
    color: orange;
    font-weight: bold;
    font-size: 20px;
}

.info {
    height: 100rem;
    display: flex;

}

.about,
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.Fpara {

    max-width: 70%;

}

.hr2 {
    width: 60%;
    border-width: 2px;
}

.icon {
    margin: 10px;
}

.carousel {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {

    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: bottom;

}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, )
}

@font-face {
    font-family: "myfont";
    src: url("font.ttf");
}

@media only screen and (max-width:768px) {
    main {
        flex-direction: column;
        background-position: center;
    }

    
    .nav-links a{
        font-size: large;
        color:wheat;
        text-shadow: 2px 2px 10px black;
        font-weight: bold;
    }
    nav{
        flex-direction: column;
        height: fit-content;
        background-color: transparent;
        justify-content: start;
        top:50px;
        padding: 0;
        backdrop-filter:unset;
        border: none;
        box-shadow: none;
    }

    .nav-links {
        box-shadow: 1px 1px 20px black;
        gap:10px;
        /* flex-direction: column; */
        background-color: #f6ce776d;
        backdrop-filter: blur(5px);
        border: 1px solid orange;
        gap:10px;
        padding:20px 10px;
        font-size:medium;
        border-radius: 20px;
        
    }
    .box1 {
        margin: 20vh auto;
    }

    .gallery {
        height: 100vh;
    }

    .item {
        padding: 0;
    }

    .carousel-item img {
        width: 100rem;
        height: 250px;
    }

    .items {
        gap: 10px;
    }

    .last {
        width: 80vw;
    }

    .info {
        flex-direction: column;
    }

    .about,
    .contact {
        text-align: center;
    }

    .social {
        margin-top: 40px;
    }

    .thumbnail {
        width: 120px;
        height: 160px;
    }


}

.logoImg {
    width: 210px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;

    background-color: rgba(255, 235, 184, 0.5);

}
.reveal-bottom{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.6s all ease-out;
  }
  .reveal-bottom.active{
    transform: translateY(0px);
    opacity: 1;
  }


/* .cItem{
    width:300px;
    height:300px;
    display:inline-block;

}   */